.divC{
    width: 355px;
    height: 325px;
    background-color: rgba(83, 83, 83, 0.151);
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
}

.divC:hover{
    width: 365px;
    height: 335px;
    margin-bottom: -10px;
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 30px rgba(252, 252, 252, 0.521);
}

.img{
    height: 220px;
    width: 355px;
    border-radius: 10px;
}

.img:hover{
    padding-top: 5px;
}

.divimg{
    text-align: center;
    
}

.titlecard {
    
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    
}

.rating{
    color:black;
    padding: 5px;
    background-color: rgba(145, 99, 29, 0.918);
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    top: 193px;
    left: -5px;
}

.orderGenres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: wheat;
    background-color: rgba(0, 255, 255, 0.144);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.orderGenres:hover{
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 500px){
    .divC{
        width: 142px;
        height: 143px;
        margin-left: 15px;
    }
    .img{
        height: 88px;
    width: 142px;
    }
    .titlecard{
    font-size: 8px;
    font-weight: bold;
    }
    .genresCard{
        font-size: 8px;
    }
    .rating{
        padding: 2px;
        border-radius: 10px;
        font-size: 8px;
        top: 70px;
        left: -5px;
    }
}