.content-select{
    margin-left: 50px;
    width: 100%;
    cursor: pointer;
  	padding: 7px 10px;
	background: black;
	color: rgba(255, 255, 255, 0.507);
	font-size: 1em;
    width: 170px;
	border:2px solid black;
}


.content-select:hover{
    color: white;
    font-size: 1.06em;
}

.orderFilter{
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px){
    .content-select{
        display: flex;
        flex-direction: column;
        font-size: 60%;
        width: 80%;
        padding: 0px 0px;
        margin-top: -10px;
        margin-bottom: 15px;
    }
     .orderFilter{
        display: flex;
        flex-direction: column;
    } 
}
