.btnsearch{
    font-size: 18px;
    color: rgba(255, 255, 255, 0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px ;
    background-color: rgba(255, 255, 255, 0.507);
    border: 1px solid transparent;
    padding: 4px;
    padding-bottom: 5px;
    cursor: pointer;
}
.btnsearch:hover{
    color: rgba(255, 255, 255, 0.507);
    font-size: 20px;
    background-color: rgba(0, 255, 255, 0.144);

}
.SearchOrder{
    margin-left: 75px;
}
.searchbar{
    border: 1px solid transparent;
    padding: 8px 40px 7px 15px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.507);
}

.searchbar::placeholder{
    color: rgba(255, 255, 255, 0.562)
}

@media (max-width: 500px) {
   .SearchOrder{
       margin-left: 0%;
       padding-right: 0%;
       margin-bottom: 10px;
   }
    .searchbar{
        padding: 0%;
        width: 80%;
    }
    .btnsearch{
        font-size: 5px;
        padding-top: 7px;
        padding-bottom: 2px;
    }
}