.imgDetail{
    height: 320px;
    width: 455px;
    margin-right: 40px;
    border-radius: 15px;
}

.LogoDetail{
    cursor: pointer;
    margin: 15px 15px 15px 20px;
    width: 200px;
}
.LogoDetail:hover{
    width: 210px;
}

.divTotalDetail{
    background: black;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
}

.divHomeDetail{
    background-color: rgba(255, 255, 255, 0.151);
}


.divDetail{
    margin: 50px;
    border-radius: 15px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.842) url(https://cdn-www.playstationlifestyle.net/assets/uploads/2019/10/PS5-4K-Blu-ray-player.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    box-shadow: 0px 0px 30px rgba(252, 252, 252, 0.521);
}

.nameDetail{
    color: white;
    text-align: center;
    font-size: 45px;
}

.divDetailrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    
}

.rowDetails{
    display: flex;
    flex-direction: row;
}

.oderDetails{
    margin-right: 15px;
}

.titleDetail{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
}

.resultDetail{
    color: white;
    margin-top: -30px;
    font-size: 15px;
}

.spaceDetail{
    margin-top: 15px;
    margin-left: 40px;
}

.descDetail{
    margin: 25px 60px 10px 60px;
    color: white;
}

.imgloadDetail{
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;
}

@media (max-width: 500px){
    .LogoDetail{
        width: 30%;
    }
    .divDetailrow{
        flex-direction: column-reverse;
    }
    .nameDetail{
        font-size: 100%;
    }
    .titleDetail{
        font-size: 80%;
        margin-bottom: 30px;
    }
    .spaceDetail{
        margin-top: 0px;
    }
    .resultDetail{
        font-size: 60%;
        margin-bottom: 20px;
    }
    .imgDetail{
        margin-bottom: 20px;
        margin-left: 13px;
        width: 90%;
        height: 90%;
    }
    .descDetail{
        font-size: 10px;
        margin: 10px;
        text-align: center;
    }
    .rowDetails{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(4, 1fr);
    }
    .oderDetails{
        margin-bottom: 30px;
    }
    .imgloadDetail{
        width: 80% ;
    }
}